{% extends "base.html" %}

{% block body %}
<div>
    <h5>
        <a href="https://www.python.org/">Python 3.9 - Back End</a>
        <br>
        <a href="https://html.spec.whatwg.org/">HTML 5 - Front End</a>
        <br>
        <a href="https://flask.palletsprojects.com/">Flask - Web Framework</a>
        <br>
        <a href="https://getbootstrap.com/">Bootstrap - HTML Resource</a>
        <br>
        <a href="https://www.jetbrains.com/pycharm/">PyCharm - Code Editor</a>
        <br>
        <a href="https://github.com/michaelmahony/flask-jumping-off">Template for Flask</a>
        <br>
        <a href="https://github.com/Liam1113/STEM-Project">Source Code</a>
        <br>
    </h5>
</div>
{% endblock %}