{% extends "base.html" %}

{% block body %}
<div>
    <h1>Home</h1>
    <p>{{ intro_data }}</p>
    <p>{{ paragraph_1_data }}</p>
    <p>All the source code can be found <a href="https://github.com/Liam1113/STEM-Project">here</a>, but let's get onto how this all works. We have a function in the Python script which stores data while using flask to connect to our HTML scripts. It allows the data to be transferred, and our HTML scripts later just that and put it into paragraphs like this one.</p>
    <p>Here's a look at what our Python script looks like. This code  isn't being used currently since you can't transfer links and strings through Flask.</p>
    <img src="https://lh3.googleusercontent.com/pw/ACtC-3dA2MjbIAE2X3AbTV6K3oer4WuzCfQVp2t2kF_07QJMmlJ0hFooBiFB0QDelhAcSO_2V_DllW_ViiiuxQye81DWr1YwZuK4E4KViPjK9AFdY-DpmtzzpFK3DNa8SOxqwcOBxXBk9i58PsR_imdLuXZ2=w682-h326-no" class="CENy8b" role="img">
    <p>Here's a loot at our HTML script.</p>
<!--    <button type="button" class="btn btn-primary">Primary</button>-->
    <img src="https://lh3.googleusercontent.com/IbW1zBtaoOckRbUtD0HTC65CzFKs69BQAG3HCdVxKlKhKhJ2bnYwia0qDaIaS5J8ZKtRSycIxBEHqhn1y-yogB0x3Wa7OG48HEgKPsEi9tejjG78zQ0e-ZNV-W1W8-cRQaHsdqpVNw=w400-h300-no" class="CENy8b" role="img" >
</div>
{% endblock %}
